// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:verdana,arial,helvetica,sans-serif;
  font-size:13px;
  line-height:18px;
  margin:33px;
}

strong{
  font-weight:blod;
}

p{
margin:33px;
}
